.c-top h1 {
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 40%;
}

.c-top p{
    padding-left: 35%;
}
.c-top{
    padding-top: 150px;
}

.logoo{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    
}
.c-container{
    display: flex;
    gap: 20px;
}